.fieldcontain{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin:6px 0;
}
.fieldcontain input{
    @apply py-2 pl-3 bg-gray-100 border border-gray-300 rounded-lg outline-none
}

.theContainer .signup_btn{
    @apply text-white h-[40px] rounded-md  mt-4
}
.theContainer .circularprogress{
    @apply text-white mr-3
}

.theContainer .google_btn{
    @apply lowercase mt-4 py-[6px] rounded-md border border-solid border-pink-500
           hover:bg-gradient-to-t from-orange-500 to-pink-600 hover:text-white
}